<!DOCTYPE html>
<head>
	<link href="static/stylesheets/main.css" rel="stylesheet">
	<script type="text/javascript" src="static/javascripts/main.js" charset="UTF-8"></script>
	<script type="text/javascript" src="static/javascripts/App.js" charset="UTF-8"></script>
	<script type="text/javascript" src="static/javascripts/AnimFrame.js" charset="UTF-8"></script>
	<script type="text/javascript" src="static/javascripts/Loader.js" charset="UTF-8"></script>
	<script type="text/javascript" src="static/javascripts/GPS.js" charset="UTF-8"></script>
	<script type="text/javascript" src="static/javascripts/Sprite.js" charset="UTF-8"></script>
	<script type="text/javascript" src="static/javascripts/Map.js" charset="UTF-8"></script>
	<script type="text/javascript" src="static/javascripts/WeatherData.js" charset="UTF-8"></script>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAAIjBYnsLq4pxsRkTOAdGV3C9aNzeGJf8"></script>
</head>
<title>Wind App</title>
<body>
	<div id="map-canvas">map-canvas</div>
	<canvas id="main-canvas">main-canvas</canvas>
	<div id="debug">debug</div>
	<div id="weather-data">weather-data</div>
	<div id="gps">gps</div>
	<div id="title">title</div>
	<div id="text">text</div>
	<div id="email">email</div>
</body>